{% extends "base.html" %}

{% block content %}
	<h1>
		Position list
		<a href="{% url 'workers:position-create' %}" class="btn btn-primary link-to-page">
			Create
		</a>
	</h1>
	<form class="navbar-search form-inline" id="navbar-search-main" method="get" action="">
		<div class="input-group input-group-merge search-bar">
			<input type="submit" value="🔍" class="btn btn-sm btn-outline-gray-600">
			{{ search_form }}
		</div>
	</form>
	{% if position_list %}
		<ul>
			{% for position in position_list %}
				<li>
					<a href="{% url "workers:position-detail" pk=position.id %} ">{{ position.id }}</a>
					{{ position.name }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no positions in task_manager</p>
	{% endif %}
{% endblock %}